@font-face {
  font-family: Gotham;
  src: url("./Gotham Medium.otf");
}

.sidebar {
  z-index: 4;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: transparent;
  display: flex;
}

.invisible .sidebar {
  visibility: hidden;
  z-index: 4;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: transparent;
  display: flex;
}

.sidebar__overlay {
  margin-right: auto;
  width: 75vw;
  height: 200vh;
  background-color: black;
  opacity: 0.2;
}

.sidebar__content {
  overflow: scroll;
  margin-left: auto;
  padding-top: 70px;
  background-color: white;
  width: 25vw;
  margin-bottom: 20px;
}

.sidebar__option {
  color: #000000;
  display: block;
  text-decoration: none;
  margin-left: 35px;
  line-height: 60px;
  border-bottom: 1px solid gray;
  margin-right: 40px;
  font-family: Gotham, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
}
